/* vantlayout样式 */

/* van-hairline 分隔线样式 */
[class*=van-hairline]::after {
    display: none !important;
}

.van-hairline--bottom {
    border-bottom: 1px solid #ebedf0;
}

.van-hairline--top-bottom {
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
}

.van-row:after {
    display: table;
    clear: both;
    content: "";
}

.van-col {
    float: left;
    box-sizing: border-box;
    min-height: 1px
}

.van-col--1 {
    width: 4.16666667%
}

.van-col--2 {
    width: 8.33333333%
}

.van-col--3 {
    width: 12.5%
}

.van-col--4 {
    width: 16.66666667%
}

.van-col--5 {
    width: 20.83333333%
}

.van-col--6 {
    width: 25%
}

.van-col--7 {
    width: 29.16666667%
}

.van-col--8 {
    width: 33.33333333%
}

.van-col--9 {
    width: 37.5%
}

.van-col--10 {
    width: 41.66666667%
}

.van-col--11 {
    width: 45.83333333%
}

.van-col--12 {
    width: 50%
}

.van-col--13 {
    width: 54.16666667%
}

.van-col--14 {
    width: 58.33333333%
}

.van-col--15 {
    width: 62.5%
}

.van-col--16 {
    width: 66.66666667%
}

.van-col--17 {
    width: 70.83333333%
}

.van-col--18 {
    width: 75%
}

.van-col--19 {
    width: 79.16666667%
}

.van-col--20 {
    width: 83.33333333%
}

.van-col--21 {
    width: 87.5%
}

.van-col--22 {
    width: 91.66666667%
}

.van-col--23 {
    width: 95.83333333%
}

.van-col--24 {
    width: 100%
}
/* footer样式 */
.wap-footer {
    line-height: normal;
    color: #999;
    background: #282828;
    font-size: .32rem
}

.wap-footer a {
    text-decoration: none;
    color: #999;
}

.wap-footer .wap-footer-list {
    padding: .587rem .64rem .427rem
}

.wap-footer .wap-footer-list .van-col {
    padding: .213rem
}

.wap-footer .wap-footer-media {
    padding: 0 .64rem
}

.wap-footer .wap-footer-media .iconfont {
    line-height: 1;
    margin-right: .213rem;
    font-size: 1.067rem;
    vertical-align: middle
}

.wap-footer .wap-footer-media .divid-line {
    width: .053rem;
    height: .373rem;
    background: #5a5a5a;
    margin: .347rem auto
}

.wap-footer .wap-footer-units {
    line-height: 0.51rem;
    padding: .56rem 1.44rem .8rem .853rem
}

.wap-footer .mail {
    margin-bottom: 0.43rem;
}

.footer-wrapper {
    line-height: 30px;
    background: #282828;
    color: #ababab;
    font-size: 14px;
}

.footer-wrapper a {
    color: #ababab;
}

.footer-wrapper .footer {
    position: relative;
    width: 1180px;
    height: 198px;
    margin: 0 auto;
}

.footer-wrapper .footer-list {
    position: absolute;
    top: 32px;
    left: 0px;
}

.footer-wrapper .footer-list a {
    margin-right: 15px;
}

.footer-wrapper .footer-units {
    position: absolute;
    top: 75px;
    left: 0px;
}

.footer-wrapper .footer-media {
    position: absolute;
    top: 32px;
    left: 844px;
}

.footer-wrapper .footer-media a {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.footer-wrapper .footer-media img {
    display: none;
    position: absolute;
    top: -20px;
    left: -85px;
}

.footer-wrapper .footer-media a:hover {
    text-decoration: none;
}

.footer-wrapper .footer-media a:hover img {
    display: block;
}

.footer-wrapper .footer-media .iconfont {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}

.footer-wrapper .svg-icon {
    display: inline-block;
    width: 20px;
    height: 23px;
    margin-right: 3px;
    vertical-align: middle;
}

.footer-wrapper svg use {
    color: #ababab;
}

.footer-wrapper .footer-msg {
    position: absolute;
    top: 75px;
    left: 844px;
}
